{% extends 'framework.html' %}{% block main %}{% load staticfiles %} 

 <div id='pagecontent'>

{% if newfile_form %}
<h1>Create a new file here</h1>

{{ newfile_form.as_p }}

{{ content_form.as_p }}


{% else %}
  <h3>Edit this page</h3>


{{ content_form.as_p }}



  {% if page.unref_figs %}
  <h3>Unreferenced figures</h3>

  {% for fig in page.unref_figs %}

  <div class='fig-100px' style="width: 150px; display: inline; float: left;">
    
    <img src='{{ fig.0 }}' alt='{{ fig.1 }}'  />
    <p class='caption'>{{ fig.1 }}</p>
  </div>{% endfor %}

  <div style='clear: both;'></div>{% endif %}
  
  <hr />

{% endif %}

<div id='pagecontent'>
{{ page.content|safe }}
</div>
{% if page.children %}
{% if liststyle %}
{% include liststyle %}
{% else %}
{% include 'liststyles/default.html' %}
{% endif %}
{% endif %}

</div>
{% endblock %}
