{% load humanize %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>{{ title }}</title>

{% if page.metadata %}{% include 'metadata.html' %}{% endif %}
{% load static %}

<link rel='stylesheet'
      href='{% static stylesheets.screen %}'
      type='text/css' media='screen' />
{% if stylesheet.app %}<link rel='stylesheet'
      href='{% static stylesheets.app %}'
      type='text/css'  />{% endif %}
<link rel='stylesheet'
      href='{% static stylesheets.printer %}'
      type='text/css' media='print' />

{% if jsortable %}<script src='/static/js/sorttable.js'></script>{% endif %}


</head>
<body>

{% if formsOn %}
<form action = '' method='post' enctype="multipart/form-data">
{% csrf_token %}
{% endif %}

<div id='header'>

    <ul>
      {% for crumb in breadcrumbs %}{% if crumb.0 %}
      <li><a href='{{ crumb.0 }}'>{{ crumb.1 }}</a></li>
{% else %}        <li>{{ crumb.1 }}</li>
{% endif %}
{% endfor %}
    </ul>

</div>

<div id='main'>
{% block main %}{% endblock %}
</div>

<div id='navigation'>

{% if navtemplate %}
{% include navtemplate %}
{% endif %}


    </div>

{% if dc_form or content_form %}
</form>
{% endif %}



</body>
</html>
