{% extends 'framework.html' %}{% block main %}{% load staticfiles %}

<div id='pagecontent'>

  <h3>Gallery page</h3>

  {{ page.content|safe }}

<div class='picturelist'>

{% for picture in page.gallery.pictures %}
<div class='tile640'>
  
    <h3>{{ picture.title }}</h3>

    <img src='{{ picture.src512 }}' class='fig-150px' alt='{{ picture.alt }}' />

    <table>
        <tr>
            <th>fname</th>
            <td><a href='{{ picture.url }}'>{{ picture.fname }}</a></td>    
        </tr>
        <tr>
            <th>dim</th>
            <td>{{ picture.img.width }} x {{ picture.img.height }} px</td>    
        </tr>
        <tr>
            <th>mode</th>
            <td>{{ picture.mode }}</td>    
        </tr>
        <tr>
            <th></th>
            <td>{{ picture }}</td>    
        </tr>

    </table>  
    <span style='clear:both;'></span>

</div>
{% endfor %}

</div><!-- close gallery thumbnails -->

</div><!-- Close pagecontent -->


{% if page.children %}
{% if liststyle %}
{% include liststyle %}
{% else %}
{% include 'liststyles/default.html' %}
{% endif %}
{% endif %}
{% endblock %}
