<!-- nav_page.html -->
{% load humanize %}
<div id='navcontent'>

    <h3>subject</h3>

    <p>{{ page.metadata.subject }}</p>


    <h3>description</h3>

    <p>{{ page.metadata.description }}</p>


    <h3>parent</h3>

    <ol>

        <li><a href='{{ page.parent.url }}'>{{ page.parent.title }}</a></li>


    </ol>
{% if page.siblings %}
    <h3>siblings</h3>

        <ol>
{% for item in page.siblings %}
{% if item.url %}
            <li><a href='{{ item.url }}'>{{ item.title }}</a></li>
{% else %}
            <li>{{ item.1 }}</li>
{% endif %}
{% endfor %}
        </ol>{% endif %}

{% if page.children %}
        <h3>children</h3>

        <ol id='children'>
{% for child in page.children %}
            <li><a href='{{ child.url }}'>{{ child.title }}</a></li>
{% endfor %}
        </ol>{% endif %}


 <p>Word count: {{ page.wordcount|intcomma }}</p>
</div>
<!-- end nav_page.html -->
