<!-- nav_picture.html -->
<div id='navcontent'>


{% if gpsform %}
  
    <h3>To correlate the pictures against gps files...</h3>


    <p>Look at a picture of the GPS handset displaying the time. Type
    the date and time visible on the handset in 24-hour notation
    (<em>YYYY-MM-DD hh:mm:ss</em>). Also type the timezone offset from
    UTC (usually +12 in NZ, or +13 during daylight saving time).</p>

    <table>
      {{ gpsform }}
    </table>

    <p>Clicking the correlate button will run <tt>gpscorrelate</tt>
    over all the image files in this directory, for each gps file
    found. This will affect the EXIF data in the image files.</p>

    <input type='submit', name='command' value='correlate' />

{% endif %}

{% if accession %}

    <h3>Accession this collection</h3>

    <p>This will create thumbnail copies of all the pictures in this
    folder. </p>

    <input type='submit', name='command' value='accession' />

{% endif %}

{% if picture %}
    <h3>Picture metadata</h3>

    <table>

        <tr>
            <th colspan='2' style='border-top: black 1px solid'>EXIF</th>
        </tr>

        <tr>
            <th>time</th>
            <td>{{ picture.EXIFdatetime|date:"Y-m-d H:i:s" }}</td>
        </tr>

        <tr>
            <th>format</th>
            <td>{{ picture.img.format }}</td>
        </tr>

        <tr>
            <th>mode</th>
            <td>{{ picture.img.mode }}</td>
        </tr>

        <tr>
            <th>size</th>
            <td>{{ picture.img.width }} x {{picture.img.height }} px</td>
        </tr>

        <tr>
            <th>layers</th>
            <td>{{ picture.img.layer|length }}</td>
        </tr>

        <tr>
            <th>bits</th>
            <td>{{ picture.img.bits }}</td>
        </tr>

        <tr>
            <th colspan='2' style='border-top: black 1px solid'>GPS</th>
        </tr>

        <tr>
            <th>date</th>
            <td>{{ picture.GPSdatetime|date:"Y-m-d H:i:s T" }} </td> 
        </tr>

        <tr>
            <th>lon lat</th>
            <td>
              {{ picture.GPSlongitude }} 
              {{ picture.GPSlatitude }} 
            </td>
        </tr>

        <tr>
            <th>altitude</th>
            <td>{{ picture.GPSaltitude }} m</td> 
        </tr>

        <tr>
            <th colspan='2' style='border-top: black 1px solid'></th>
        </tr>

    </table>
{% endif %}
    
    <h3>GPX files in this folder</h3>

    <ol>
{% for gpx in picture.gpxfiles %}
        <li>{{ gpx }}</li>
{% endfor %}
    </ol>

    
    <h3>File upload</h3>
    
    <table>
      {{ fileform }}
    </table>


    <p>Upload a GPX file, or another picture in the series.</p>
    
    <input type='submit', name='command' value='upload' />

</div>
<!-- end nav_picture.html -->
