<!-- nav_page.html -->
{% load humanize %}
<table style='width: 100%; border-bottom: black 1px solid; margin-bottom: .5em;'>
  <tr>
    <th>title</th>
    <td>{{ page.metadata.title }}<td>
  </tr>
  <tr>
    <th>subject</th>
    <td>{{ page.metadata.subject }}<td>
  </tr>
  <tr>
    <th>description</th>
    <td>{{ page.metadata.description }}<td>
  </tr>
  <tr>
    <th>word&nbsp;count</th>
    <td>{{ page.wordcount|intcomma }}<td>
  </tr>
  <tr>
    <td colspan='2' style='border-top: black 1px solid;'><td>
  </tr>
  <tr>
    <th>parent</th>
    <td><a href='{{ page.parent.url }}'>{{ page.parent.title }}</a><td>
  </tr>
  <tr>
    <th></th>
    <td><td>
  </tr>
  <tr>
    <th></th>
    <td><td>
  </tr> 
</table>

{% if content_form %}

<div class='form'>
<input name='command' value='save' type='submit' />
  {% if newfile_form %}{{ newfile_form.as_p }}{% endif %}

  {{ content_form.non_field_errors }}
  <div class='fieldWrapper'>
    {{ content_form.dc_title.errors }}
    <label for='{{ subject_form.dc_title.id_for_label }}'>title</label><br />
    {{ content_form.dc_title }}
  </div>  

  <div class='fieldWrapper'>
    {{ content_form.dc_subject.errors }}
    <label for='{{ subject_form.dc_subject.id_for_label }}'>
      keywords (subject, tags)</label><br />
    {{ content_form.dc_subject }}
  </div>  

  <div class='fieldWrapper'>
    {{ content_form.dc_description.errors }}
    <label for='{{ subject_form.ed_description.id_for_label }}'>
      description</label><br />
    {{ content_form.dc_description }}
  </div>  

  <div class='fieldWrapper'>
    {{ content_form.content.errors }}
    <label for='{{ subject_form.content.id_for_label }}'>content</label><br />
    {{ content_form.content }}
  </div>

</div>

  {% if dc_form %}
<div class='form'>
  <table>
  {{ dc_form }}
  </table>
<div>{% endif %}

</div>

{% if command_form %}<div class='form'>
<table>
{{ command_form }}
</table>
</div>{% endif %}
</div>
  
{% else %}<!-- Else, not content_ -->
<p><a href='{{ page.url }}/edit/'>edit this page</a> |
  <a href='{{ page.url }}/new/'>create a new page here</a></p>
{% endif %}


{% if page.heading_index %}
<h3 style='border-top: black solid 1px;
    margin-top: .5em; buffer-top: .5em;
    padding-top: .5em;'>headings</h3>

<ol>{% for item in page.heading_index %}
    <li><a href='#{{ item.0 }}'>{{ item.1 }}</a></li>
{% endfor %}</ol>
{% endif %}


{% if page.parent.children %}

<h3 style='border-top: black solid 1px;
    margin-top: .5em; buffer-top: .5em;
    padding-top: .5em;'>siblings</h3>

        <ol style='border-bottom: black 1px solid;
                   margin-bottom: 3em;
                  '>

{% for item in page.parent.children %}
{% if item.url == page.url %}
            <li>{{ item.title }}</li>
{% else %}
            <li><a href='{{ item.url }}'>{{ item.title }}</a></li>
{% endif %}
{% endfor %}        </ol>
{% endif %}
<!-- end nav_page.html -->
