@import url('/static/css/book-screen.css');
/* css/book-printer.css

*/

@page {
    size: A4;
    margin: 3cm;
    counter-increment: page;
    counter-reset: page 1;
    @bottom-center {
        content: counter(page);
    }
}

body {
    font-size: 13pt;
}

h1 {
    margin-top: 3em;
}

h1, h3 {
    page-break-after: avoid;
}

p {

}

hr {
    page-break-before: avoid;
}

pre {
    font-size: 8pt;
}

#header, #navigation, #contentse {
    display: none;
}
#main {
    width: 100%;
    margin: 0;
    padding: 0;
}

#contents {
    display: none;
}

#pagecontent {
    margin: 0;
    padding: 0;
}
#pagecontent h2 {
    padding-top: 15em;
    margin: 0;
}
#pagecontent h2:first-of-type {
    page-break-before: avoid;
}
#pagecontent h3 {
    margin-top: 0;
    margin-bottom: 3em;
}

.noprint {
    display: none;
}

