@import url('/static/css/screen.css');
/* css/typescript-screen.css

*/

#pagecontent {
    font-family: serif;
    max-width: 33em;
}

#pagecontent h1 {
    font-size: 100%;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    margin-top: 3em;
    margin-bottom: 3em;
}

#pagecontent h2 {
    font-size: 100%;
    font-weight: normal;
    text-align: center;
    margin-bottom: 5em;
    margin-top: 10em;
    page-break-before: always;
    page-break-after: always;
    
}

#pagecontent h3 {
    font-weight: normal;
    font-size: 90%;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5em;
    page-break-before: always;
}

#pagecontent p {
    line-height: 160%;
    text-align: justify;
    margin: 0;
    text-indent: 2em;
}

#pagecontent hr {
    margin-top: 5em;
    margin-bottom: 5em;
    page-break-before: avoid;
}
#pagecontent hr {
    visibility: hidden;
    margin-top: 2em;
    margin-bottom: 1em;
              
}