@import url('/static/css/screen.css');
/* css/typescript-screen.css

*/

#pagecontent {
    font-family: monospace;
    max-width: 40em;
    font-size: 16px;
}

#pagecontent h1 {
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    margin-top: 5em;
    margin-bottom: 5em;
}

#pagecontent h2 {
    font-size: 90%;
    font-weight: normal;
    text-align: center;
    margin-top: 30em;
    margin-bottom: 30em;
}

#pagecontent h3 {
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5em;
    page-break-before: always;
}

#pagecontent p {
    line-height: 250%;
    margin: 0;
    text-indent: 3em;
}

#pagecontent p em {
    text-decoration: underline;
    font-style: normal;
}
#pagecontent pre {
    font-size: 80%;
}

#pagecontent hr {
    visibility: hidden;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 1em;         
}